<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue sur Hangman</title>
    <link rel="icon" href="img/hangman16.ico" type="image/x-icon"> 
    <link rel="shortcut icon" href="img/hangman16.ico" type="image/x-icon"> 
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Bienvenue sur le jeu Hangman !</h1>
        <p>Êtes-vous prêt à tester vos compétences ?</p>
        <a href="start_game.html" class="btn">Jouer au Hangman</a>
        <br>
        <a href="leaderboard.html" class="btn">🏆 Voir le Leaderboard</a>
    </div>
</body>
</html>
